.html{
	color: black;
}
body{
	font-family: "Times New Roman";
	font-weight: bold;
	background-image: linear-gradient(to bottom right, rgba(201, 96, 71, 0.73), rgba(157, 105, 227, 0.94));
	height: 100vh;
}

#bottom{
	position: fixed;
	bottom:0;
	margin-bottom: 2%;
	transform: translate(-50%,-50%);
	left:50%;
}

#bigData{
	position: fixed;
	margin-top:5%;
	color: azure;
	font-size: 180%;
	width:100%;
	display:table;
}
#bigData > tr{
	display: flex;
	justify-content: center;
}

#dataTable{
	color: azure;
	font-size: 180%;
	width:100%;
	display:table;
}

tr{
	width:100%;
}

th{
	margin:1%;
	min-width: 200px;
}

img{
	height: 200px;
	width:200px;
}

tr> img{
	height: 500px;
	width:500px;
}
h2{
	display: flex;
	justify-content: center;
}
